<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rang</title>
    <link rel="stylesheet" href="teenpatti.css" />
    <link rel="stylesheet" href="playing-cards.css" />
  </head>
  <body>
    <div class="main-container playingCards">
      <div class="game-container">
        <div class="heading-container">
          <h1>Teen Patti</h1>
        </div>
        <div class="game-table-container">
          <div class="game-table">
            <div class="card-area">
              <ul class="hand remove-margin">
                <li>
                    <div class="card rank-6 diams">
                      <span class="rank">6</span>
                      <span class="suit">&diams;</span>
                    </div>
                  </li>
                  <li>
                    <div class="card rank-6 diams">
                      <span class="rank">6</span>
                      <span class="suit">&diams;</span>
                    </div>
                  </li>
              </ul>
              <!-- <div class="card-area-rows output-row-one">
                <div class="card rank-7 spades">
                  <span class="rank">7</span>
                  <span class="suit">&spades;</span>
                </div>
              </div>
              <div class="card-area-rows output-row-two">
                <div class="card rank-7 spades">
                  <span class="rank">7</span>
                  <span class="suit">&spades;</span>
                </div>
                <div class="card rank-7 spades">
                  <span class="rank">7</span>
                  <span class="suit">&spades;</span>
                </div>
              </div>
              <div class="card-area-rows output-row-three">
                <div class="card rank-7 spades">
                  <span class="rank">7</span>
                  <span class="suit">&spades;</span>
                </div>
              </div> -->
            </div>

            <div class="game-players-container">
              <div class="player-tag player-one">Esha</div>
              <ul class="hand remove-margin player-one-cards">
                <li>
                  <div class="card back">*</div>
                </li>
                <li>
                  <div class="card rank-6 diams">
                    <span class="rank">6</span>
                    <span class="suit">&diams;</span>
                  </div>
                </li>
                <li>
                  <div class="card back">*</div>
                </li>
                <li>
                  <div class="card rank-6 diams">
                    <span class="rank">6</span>
                    <span class="suit">&diams;</span>
                  </div>
                </li>
                <li>
                  <div class="card back">*</div>
                </li>
                <li>
                  <div class="card rank-6 diams">
                    <span class="rank">6</span>
                    <span class="suit">&diams;</span>
                  </div>
                </li>
              </ul>
            </div>

            <div class="game-players-container">
              <div class="player-tag player-two">Saood</div>
              <ul class="hand remove-margin player-two-cards">
                <li>
                  <div class="card back">*</div>
                </li>
                <li>
                  <div class="card rank-6 diams">
                    <span class="rank">6</span>
                    <span class="suit">&diams;</span>
                  </div>
                </li>
                <li>
                  <div class="card back">*</div>
                </li>
                <li>
                  <div class="card rank-6 diams">
                    <span class="rank">6</span>
                    <span class="suit">&diams;</span>
                  </div>
                </li>
                <li>
                  <div class="card back">*</div>
                </li>
                <li>
                  <div class="card rank-6 diams">
                    <span class="rank">6</span>
                    <span class="suit">&diams;</span>
                  </div>
                </li>
              </ul>
            </div>

            <div class="game-players-container">
              <div class="player-tag player-three">Ahmed</div>
              <ul class="hand remove-margin player-three-cards">
                <li>
                  <div class="card back">*</div>
                </li>
                <li>
                  <div class="card rank-6 diams">
                    <span class="rank">6</span>
                    <span class="suit">&diams;</span>
                  </div>
                </li>
                <li>
                  <div class="card back">*</div>
                </li>
                <li>
                  <div class="card rank-6 diams">
                    <span class="rank">6</span>
                    <span class="suit">&diams;</span>
                  </div>
                </li>
                <li>
                  <div class="card back">*</div>
                </li>
                <li>
                  <div class="card rank-6 diams">
                    <span class="rank">6</span>
                    <span class="suit">&diams;</span>
                  </div>
                </li>
              </ul>
            </div>

            <div class="game-players-container">
              <div class="player-tag player-four">Mahd</div>
              <ul class="hand remove-margin player-four-cards">
                <li>
                  <div class="card back">*</div>
                </li>
                <li>
                  <div class="card rank-6 diams">
                    <span class="rank">6</span>
                    <span class="suit">&diams;</span>
                  </div>
                </li>
                <li>
                  <div class="card back">*</div>
                </li>
                <li>
                  <div class="card rank-6 diams">
                    <span class="rank">6</span>
                    <span class="suit">&diams;</span>
                  </div>
                </li>
                <li>
                  <div class="card back">*</div>
                </li>
                <li>
                  <div class="card rank-6 diams">
                    <span class="rank">6</span>
                    <span class="suit">&diams;</span>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="messages-and-cards-container">
        <div class="right-side-container messages-container">
          <h1>Messages</h1>
          <div class="message-box">
            <div class="message-content-container">
              latest message comes here
            </div>
            <div class="message-content-container">
              Goodluck for the assignment!
            </div>
          </div>
        </div>
        <div class="right-side-container my-cards-container">
          <h1>My Cards</h1>
          <div class="my-cards-inner-container">
            <ul class="hand remove-margin">
              <li>
                <a class="card rank-7 spades">
                  <span class="rank">7</span>
                  <span class="suit">&spades;</span>
                </a>
              </li>
              <li>
                <a class="card rank-q hearts">
                  <span class="rank">Q</span>
                  <span class="suit">&hearts;</span>
                </a>
              </li>
              <li>
                <a class="card rank-2 diams">
                  <span class="rank">2</span>
                  <span class="suit">&diam;</span>
                </a>
              </li>
            </ul>
          </div>
          <div class="my-fixed-cards-container">
            <ul class="hand remove-margin">
              <li>
                <div class="card back">*</div>
              </li>
              <li>
                <a class="card rank-6 diams">
                  <span class="rank">6</span>
                  <span class="suit">&diams;</span>
                </a>
              </li>
              <li>
                <div class="card back">*</div>
              </li>
              <li>
                <a class="card rank-6 diams">
                  <span class="rank">6</span>
                  <span class="suit">&diams;</span>
                </a>
              </li>
              <li>
                <div class="card back">*</div>
              </li>
              <li>
                <a class="card rank-6 diams">
                  <span class="rank">6</span>
                  <span class="suit">&diams;</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
